:root {
  --yellow: #c9b458;
  --green: #6aaa64;
  --lightgray: lightgray;
  --darkgray: #86888a;

  --incorrect-color: var(--darkgray);
  --correct-placement-color: var(--green);
  --correct-letter-color: var(--yellow);
  --neutral-color: var(--lightgray)
}
/* guess board */
.guess-board {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
}

.guess-row {
  display: flex;
  flex-direction: row;
  gap: 10px
}

.guess-tile {
  background-color: var(--lightgray);
  width: 50px;
  height: 70px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
}

.guess-tile.incorrect {
  background-color: var(--incorrect-color);
}

.guess-tile.correct-letter {
  background-color: var(--correct-letter-color);

}

.guess-tile.correct-placement {
  background-color: var(--correct-placement-color);
}

/* keyboard */
.keyboard-key {
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  min-width: 40px;
  min-height: 60px;
}

.keyboard-key:active {
  opacity: 0.7;
}

.keyboard-key.incorrect {
  background-color: var(--incorrect-color);
}

.keyboard-key.correct-letter {
  background-color: var(--correct-letter-color);

}

.keyboard-key.correct-placement {
  background-color: var(--correct-placement-color);
}


.keyboard {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.keyboard>.row:nth-child(2) {
  padding-left: 15px;
}

.keyboard>.row:nth-child(3) {
  padding-left: 50px;
}

.keyboard>.row {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

/* error message */
.game-message {
  height: 1em;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: black;
  color: white;
  opacity: 0;
}

.game-message.show {
  animation: disappear 5s forwards;
}

@keyframes disappear {
  0%   {opacity: 1;}
  80%  {opacity: 1;}
  100% {opacity: 0;}
}